<div class="tournament-creation-container">
  <h2>企画作成</h2>

  <div class="form-group">
    <label for="gameTypeSelection">企画の種類:</label>
    <select id="gameTypeSelection" [(ngModel)]="selectedGameType" name="gameTypeSelection">
      <option value="雀魂">雀魂</option>
    </select>
  </div>

  <!-- Jantama Form -->
  <div *ngIf="selectedGameType === '雀魂'">
    <form [formGroup]="tournamentForm" (ngSubmit)="createTournament()">
      <div class="form-group">
        <label for="tournamentName">大会名:</label>
        <input type="text" id="tournamentName" formControlName="tournamentName" required>
      </div>
      <div class="form-group">
        <label for="startDate">開始日:</label>
        <input type="date" id="startDate" formControlName="startDate" required>
      </div>
      <div class="form-group">
        <label for="endDate">終了日</label>
        <input type="date" id="endDate" formControlName="endDate" class="form-control" required>
      </div>

      <h3>雀魂友人戦設定</h3>
      <div class="form-row">
        <div class="form-group">
          <label for="gameType">対戦形式:</label>
          <select id="gameType" formControlName="gameType" (change)="onGameTypeSelectionChange()">
            <option>ヨンマ</option>
            <option>サンマ</option>
          </select>
        </div>
        <div class="form-group">
          <label for="thinkTime">長考時間:</label>
          <select id="thinkTime" formControlName="thinkTime">
            <option>3+5</option>
            <option>5+10</option>
            <option>5+20</option>
            <option>60+0</option>
            <option>300+0</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group checkbox-group">
          <input type="checkbox" id="allowFlying" formControlName="allowFlying">
          <label for="allowFlying">飛びあり</label>
        </div>
        <div class="form-group checkbox-group">
          <input type="checkbox" id="redDora" formControlName="redDora">
          <label for="redDora">赤ドラあり</label>
        </div>
      </div>
      <div class="form-group">
        <label for="startingScore">配給原点:</label>
        <select id="startingScore" formControlName="startingScore" required>
          <option *ngFor="let score of startingScoreOptions" [ngValue]="score">{{ score }}点</option>
        </select>
      </div>
      <div class="form-group">
        <label for="status">大会状態:</label>
        <select id="status" formControlName="status">
          <option [ngValue]="0">企画中</option>
          <option [ngValue]="1">募集中</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">コメント (任意):</label>
        <textarea id="description" formControlName="description" rows="3"></textarea>
      </div>
      <button type="submit" [disabled]="tournamentForm.invalid">大会を作成</button>
    </form>
  </div>

  <p *ngIf="message" class="message">{{ message }}</p>
</div>
