<div class="tournament-creation-container">
  <button (click)="goBack()" class="back-button">＜ 戻る</button>
  <h2>企画情報編集</h2>
  <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="tournamentName">企画名</label>
      <input type="text" id="tournamentName" formControlName="tournamentName">
    </div>
    <div class="form-group">
      <label for="startDate">開始日</label>
      <input type="date" id="startDate" formControlName="startDate">
    </div>
    <div class="form-group">
      <label for="endDate">終了日</label>
      <input type="date" id="endDate" formControlName="endDate">
    </div>

    <h3>雀魂友人戦設定</h3>
    <div class="form-row">
      <div class="form-group">
        <label for="gameType">対戦形式</label>
        <select id="gameType" formControlName="gameType" (change)="onGameTypeSelectionChange()">
          <option>ヨンマ</option>
          <option>サンマ</option>
        </select>
      </div>
      <div class="form-group">
        <label for="thinkTime">長考時間</label>
        <select id="thinkTime" formControlName="thinkTime">
          <option>3+5</option>
          <option>5+10</option>
          <option>5+20</option>
          <option>60+0</option>
          <option>300+0</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group checkbox-group">
        <input type="checkbox" id="allowFlying" formControlName="allowFlying">
        <label for="allowFlying">飛びあり</label>
      </div>
      <div class="form-group checkbox-group">
        <input type="checkbox" id="redDora" formControlName="redDora">
        <label for="redDora">赤ドラあり</label>
      </div>
    </div>
    <div class="form-group">
      <label for="startingScore">配給原点</label>
      <select id="startingScore" formControlName="startingScore">
        <option *ngFor="let score of startingScoreOptions" [ngValue]="score">{{ score }}点</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">コメント</label>
      <textarea id="description" formControlName="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="tournamentForm.invalid">更新</button>
    <p *ngIf="errorMessage" class="message error">{{ errorMessage }}</p>
  </form>
</div>
