<header class="main-header">
  <div class="nav-container">
    <a class="logo" [routerLink]="['/']" (click)="isMenuCollapsed = true">
      <img src="assets/icons/ycb_logo.svg" alt="YCBチャンネル">
    </a>
    <button class="nav-toggle" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" [attr.aria-expanded]="!isMenuCollapsed">
      <span class="nav-toggle-icon"></span>
    </button>
    <nav class="nav-menu" [class.is-active]="!isMenuCollapsed">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/events']" routerLinkActive="is-active" (click)="isMenuCollapsed = true">イベント一覧</a>
        </li>
        <li class="nav-item" *ngIf="authService.hasRole('Admin')">
          <a class="nav-link" [routerLink]="['/create-event']" routerLinkActive="is-active" (click)="isMenuCollapsed = true">企画作成</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">ログアウト</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
